@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    overflow-x: hidden;
}
html{
    font-size: 62.5%;
}
body{
    width: 1366px;
    margin: 0 auto;
}
.block{
    width: 100%;
}
/* block one */
.one{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./img/homedesktop.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* navbar start======================================== */

.one .navbar{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5rem; 
}
.navbar .logo a{
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    color: white;
    flex-wrap: nowrap;
    width: 30rem;
}
.navbar .logo p{
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    border: 3px dotted white;
    border-radius: 35px;
    margin-right: 2rem;
}
.navbar .menu{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    color: white;
}
.menu p{
    margin-left: 10rem ;
}
.navbar > a{
    display: inline-block;
    width: 230px;
    height: 50px;
    border: 3px solid #2F9BFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 400;
}
/* navbar end======================================== */
.boxinfo{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.boxinfo .one-info{
    width: 50%;
    
}
.one-info h1{
    font-size: 6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 8rem;
    margin-top: 14rem;
    margin-left: 5rem;
    color: white;
}
.one-info > a{
    width: 230px;
    height: 70px;
    background-color: #0759F8;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 5rem;
    margin-top: 4rem;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 0px #0A40AA;
}
.oneimg{
    width: 50%;
    max-height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}
.oneimg .kolonka{
    background-image: url(./img/kol_left.png),url(./img/kol_rright.png);
    position: absolute;
    top: 50px;
    right: 120px;
}
.kolonka img{
    position: relative;
    left: 50px;
}

/* two block================================================ */
.twobox{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 5rem 0;
}
.twobox h3{
    font-weight: 700;
    font-size: 50px;
    color: #222222;
    margin-top: 8rem;
}
.twobox p{
font-family: 'Lato';
font-weight: 500;
font-size: 25px;
font-weight: 600;
text-align: center;
color: #222222;
width: 1020px;
margin: 0 auto;
line-height: 50px;
margin-top: 5rem;
font-family: 'Lato', sans-serif;
}


/* threebox======================================================= */
.threbox{
    height: 1000px;
    background: #F8F8F8;

}
.threbox h3{
    padding-top: 95px;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: #222222;
}
.threbox .cards-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 430px;
    height: 710px;
    background-color: white;
    flex:  1 1 min-width(430px);
    box-shadow: 2px 3px 4px gray;
}
.card .cardimg{
    height: 300px;
    width: 100%;
}
.cardimg img{
    width: 100%;
    height: 95%;
    object-fit: cover;
    padding-top: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card .card-info{
    padding-left: 30px;
}
.card h4{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    color: #222222;
}
.card .star{
    display: flex;
    margin-top: 3px;
}
.card .star i{
    width: 18px;
    margin: 0 2px;
    color: #0FB500;
}
.staryellow{
    color: #FFA901;
}
.starred{
    color: red;
}
.card h6{
    margin-top: 18px;
    font-size: 16px;
    color: #222222;
    font-weight: 500;
}
.card .paragrph{
    margin-top: 15px;
    font-weight: 500;
}
.paragrph span{
    color: #0FB500;
    font-size: 20px;
}
.card .sena{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.sena p{
font-weight: 600;
font-size: 35px;
color: #222222;
}
.sena i{
    font-weight: bold;
    margin-left: 2px;
    font-size: 38px;
}
.sena .underline{
font-weight: 400;
font-size: 16px;
text-decoration-line: line-through;
color: #888888;
}
.card .btn-card{
    margin-top: 23px;
}
.btn-card a{
    display: inline-block;
    width: 120px;
height: 50px;
border: 1px solid #044CDA;
border-radius: 10px;
font-weight: 600;
font-size: 16px;
color: #044CDA;
line-height: 40px;
text-align: center;
}
.btn-card .border{
    border: none;
    text-decoration: underline #044CDA;
}


/* fourbox=============================================== */
.fourbox{
    height: 880px;
    background: #030B38;
    margin: 10px;
}
.fourbox h1{
    padding-top: 95px;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: white;
}


.swiper {
    margin-top: 55px;
    width: 915px;
    height: 610px;
    border: 3px solid white;
    flex-direction: column;
  }
  .swiper .swiper-slide{
      width: 100%;
      height: 100%;
  }
  .swiper-slide img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: flex;
      align-items: flex-start;
  }
  .tocka{
      width: 30px;
      height: 10px;
      background-color: white;
  }


.fivebox h1{
    padding-top: 95px;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: white;
}
.fivebox .all_coment{
   display: flex;
    flex-direction: column;
}
.fivebox .all_coment div{
    width: 885px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9F0FF;
    font-size: 22px;
    color: #222222;
    margin: 30px auto 0 auto;

}
.fivebox div i{
    color: #044CDA;
    margin: 0 10px;
}
.arroww{
    display: flex;
    flex-direction: column;
}

/* sixbox===================================================== */
.sixbox{
    margin: 10px 0;
    position: relative;

}
.sixbox h1{
    text-align: center;
    padding-top: 95px;
    font-weight: 700;
    font-size: 50px;
    color: black;
    width: 700px;
    margin: 0 auto;
}
.sixbox .form{
    margin: 43px auto 0 auto;
    flex-direction: column;
    display: flex;  
}
.form input{
    width: 435px;
    height: 50px;
    margin: 20px auto;
border: 1px solid #DDDDDD;
border-radius: 10px;
padding-left: 25px;
}
.form input:focus{
    outline:2px solid #044CDA;  
}
form p{
    position: absolute;
    right: 192px;
    top: 696px;
    color: red;
}
form a{
    display: inline-block;
    margin: 25px auto;
    background: #044CDA;
    border-radius: 10px;
    font-size: 16px;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    right: 150px;

}






